.page-container {
  display: flex;
}

.quotes-list {
  flex: 1;
  overflow-y: scroll;
  height: 80vh;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.form-container {
  flex: 1;
  padding: 20px;
}

.confirm-dialog, .edit-form {
  margin-top: 20px;
}
